a {
  text-decoration: none;
}
nav {
  text-align: center;
}
.test {
  display: flex;
  justify-content: center;
}
.test img {
  width: 40%;
  padding: 10px;
  transition: transform 1s ease-in-out;
}
img#patient:hover {
  transform: translateX(10%);
}
img#praticien:hover {
  transform: translateX(-10%);
}
