a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  font-family: "Raleway", sans-serif;
}
.test {
  display: flex;
  justify-content: center;
}
.test img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
.test a {
  width: 30%;
}
img#patient:hover {
  transform: translateX(10%) scale(1.1);
}
img#praticien:hover {
  transform: translateX(-10%) scale(1.1);
}
img#logo {
  width: 50px;
  margin-right: 0.4%;
}
