a {
  text-decoration: none;
}
nav {
  text-align: center;
}
.test {
  display: flex;
  justify-content: center;
}
.test img {
  width: 40%;
  padding: 10px;
  transition: 1s ease;
}
.test img:hover {
  transform: translate(200px);
  transform: translate(10%);
  transition: 1s ease;
}
