.col-xs-3{
    
    background-color: rgba(128, 128, 128, 0.479);
    border:none;
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em; 
    padding-bottom: 2%;
    padding: 1%;
}
.margin {
    margin-top: 0.8rem;
    margin-right: 0.4rem;
}